#menu_background_tabs {
  width:100%;
  height:30px;
}

#menu_item_tabs {
  line-height:30px;
  text-align:center;
}

.menu_tabs_active {
  color:white;
	background-color:#4e6b31;
}

.menu_tabs_inactive {
  color:grey;
  font-style:normal;
	background-color:#dcdc78
}
